<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        {{> title}}
        {{> header}}
    </head>
    <body>
        <p>This is the Home page</p>
        <p>{{welcomeMessage}}</p>
    </body>
    {{> footer}}
</html>