<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <meta charset="utf-8">
        {{> title}}
        {{> header}}
    </head>
    <body>
        <p>This is the Project Page</p>
        {{> footer}}
    </body>
</html>