@font-face {
    font-family: dinWeb;
    src: url("/fonts/DINPro-Cond.otf");

}

body {
    background-color: #ed5353;
    color: #ffffff;
    font-family: dinWeb, "Ubuntu Condensed", "Roboto Condensed";
    font-size: 20px;
    border-color: #ffffff;
    border-top-style: solid;
    /*border-bottom-style: solid;*/
    border-width: 1px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    border-color: #ff8c82;
    color: #ff8c82
}

#menu {
    text-align: center;
}

#menu p {
    border-color: #ffffff;
    border-bottom-style: solid;
    border-width: 1px;
    padding: 2px;
    font-size: 25px;
    display: inline-block;
}

#footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    border-bottom-style: solid;
    border-width: 1px;
}

#footer a {
    border-color: #ffffff;
    border-bottom-style: solid;
    border-width: 1px;
}